---
---

@import "{{ site.theme }}";


.main-nav {
  position: relative;
  z-index: 20;
  clear: both;

  width: 100%;
  text-align: center;

  margin: 18px auto 28px auto;
  padding: 0;
}

.main-nav a {
  position: relative;
  z-index: 21;

  display: inline-block;
  padding: 5px 7px;
  margin: 0 2px;

  background: #7c334f;
  color: #fff;
  text-decoration: none;
  font-weight: bold;

  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}

.main-nav a:hover,
.main-nav a:focus {
  background: #e69b95;
  color: #fff;
}

.main-nav a.selected {
  background-color: #5b7f98;
}
